/pingesoWebApplication/build/
/pingesoWebApplication/dist/
/pingesoWebApplication/nbproject/private/
/pingesoEJBModule/build/
/pingesoEJBModule/dist/
/pingesoEJBModule/nbproject/private/
/pingesoEE/build/
/pingesoEE/dist/
/pingesoEE/nbproject/private/
/Whisky/nbproject/private/
/Whisky/Whisky-ejb/nbproject/private/
/Whisky-war/nbproject/private/
/Whisky/Whisky-ejb/build/
/Whisky-war/build/
/Whisky/build/
/Whisky-war/dist/
/Whisky/Whisky-ejb/dist/
/Whisky/dist/